<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.AccessoryPartDesignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.AccessoryPartDesign">
        <id column="id" property="id" />
        <result column="accessory_part_id" property="accessoryPartId" />
        <result column="design_choice" property="designChoice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, accessory_part_id AS accessoryPartId, design_choice AS designChoice
    </sql>

    <select id="list" resultType="map">
        SELECT  * from accessory_part_design
        <if test="condition != null ">
            where accessory_part_id =#{condition}
        </if>
        order by id ASC
    </select>
</mapper>
