<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.AccessoryPartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.AccessoryPart">
        <id column="id" property="id" />
        <result column="clothing_gender" property="clothingGender" />
        <result column="clothing_type" property="clothingType" />
        <result column="accessory_part_key" property="accessoryPartKey" />
        <result column="accessory_part_name" property="accessoryPartName" />
        <result column="ownerId" property="ownerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, clothing_gender AS clothingGender, clothing_type AS clothingType, accessory_part_key AS accessoryPartKey,
        accessory_part_name AS accessoryPartName ,ownerId
    </sql>

    <select id="list" resultType="map">
        SELECT * from accessory_part WHERE 1=1
        <if test="condition != null and condition.gender!=null and condition.gender != ''">
            AND  clothing_gender =#{condition.gender}

        </if>
        <if test="condition != null and condition.type!=null and condition.type != ''">
            and clothing_type =#{condition.type}
        </if>
        <if test="condition != null and condition.ownerId!=null and condition.ownerId != ''">
            and  (ownerId =#{condition.ownerId} OR ownerId IS null)
        </if>
        order by id ASC
    </select>

</mapper>
